<section class="card mx-auto text-center border-light">
    <img src="assets/angular.png" alt="Angular logo" class="card-img-top">
    <div class="card-body">
        <h5 class="card-title">Blog with Scully</h5>
        <p class="card-text">Blog site implemented using the Angular framework and the Scully static site generator, from Angular Project 2nd edition</p>
        <div class="d-flex flex-column justify-content-center">
            <a class="mt-2" href="https://angular.io" target="_blank">Angular</a>
            <a class="mt-2" href="https://scully.io" target="_blank">Scully</a>
            <a class="mt-2" href="https://www.packtpub.com/product/angular-projects-second-edition/9781800205260" target="_blank">Angular Projects 2nd Edition</a>
        </div>
    </div>
</section>